
<h2>Sales</h2>
<table class="table table-responsive">
  <table class='table' *ngIf='sales && sales.length'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Customer</th>
        <th>Employee</th>
        <th>Product</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let sale of sales'>
        <td><a [routerLink]="['/app-sales', sale.id]">{{sale.id}}</a></td>
        <td>{{sale.date|date:'MM/dd/yyyy'}}</td>
        <td>{{sale.customer}}</td>
        <td>{{sale.employee}}</td>
        <td>{{sale.product}}</td>
        <td>{{sale.unitPrice}}</td>
        <td>{{sale.quantity}}</td>
        <td>{{sale.totalPrice}}</td>
      </tr>
    </tbody>
  </table>
</table>
<div class="pull-right">
  <a class="btn btn-primary" [routerLink]="['/app-sale-add']">Create Sale</a>
</div>
