
  <h2>
    Create new Sale
  </h2>


    <form class="form-horizontal" novalidate (ngSubmit)="addSale()" [formGroup]="saleForm">
      <fieldset>
        <div class="form-group">
          <label class="col-md-2 control-label" for="customerId">Customer</label>
          <div class="col-md-8">
            <select class="form-control" formControlName="customer" id="customerId">
              <option *ngFor="let customer of customers" [ngValue]="customer.id">
                {{customer.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="employeeId">Employee</label>
          <div class="col-md-8">
            <select class="form-control" formControlName="employee" id="employeeId">
              <option *ngFor="let employee of employees" [ngValue]="employee.id">
                {{employee.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="productId">Product</label>
          <div class="col-md-8">
            <select class="form-control" formControlName="product" id="productId">
              <option *ngFor="let product of products" [ngValue]="product.id">
                {{product.name}} (${{product.price}})
              </option>
            </select>
          </div>
        </div>

        <div class="form-group"
          [ngClass]="{'has-error': saleForm.controls.quantity.invalid && saleForm.controls.quantity.dirty}">
          <label class="col-md-2 control-label" for="quantityId">Quantity</label>
          <div class="col-md-8">
            <input class="form-control" id="quantityId" type="number" placeholder="Quantity" formControlName="quantity" />
            <div *ngIf="saleForm.controls.quantity.dirty" class="has-error">
              <div *ngIf="saleForm.controls.quantity.errors?.required">Quantity is required.</div>
              <div *ngIf="saleForm.controls.quantity.errors?.max">Quantity is too high.</div>
              <div *ngIf="saleForm.controls.quantity.errors?.min">Quantity is too low.</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary" type="submit"
              [disabled]="!saleForm.valid" style="cursor: pointer;">
                Save
              </button>
            </span>
            <span>
              <a class="btn btn-default" [routerLink]="['/app-sales']">
                Back
              </a>
            </span>
          </div>
        </div>
      </fieldset>
    </form>



