<h2>Employees</h2>
<table class="table table-responsive">
  <table class='table' *ngIf='employees && employees.length'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let employee of employees'>
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
      </tr>
    </tbody>
  </table>
</table>
