<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">SalesApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/app-customers']">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/app-employees']">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/app-products']">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/app-sales']">Sales</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class='container'>
    <router-outlet></router-outlet>
  </div>
</div>
