
  <h2>
    Details for {{sale.id}} sale
  </h2>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-2" style="font-weight:bold">ID:</div>
      <div class="col-md-10">
        <div>{{sale.id}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" style="font-weight:bold">Date:</div>
      <div class="col-md-10">
        <div>{{sale.date|date:'MM/dd/yyyy'}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" style="font-weight:bold">Customer:</div>
      <div class="col-md-10">
        <div>{{sale.customer}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" style="font-weight:bold">Employee:</div>
      <div class="col-md-10">
        <div>{{sale.employee}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" style="font-weight:bold">Product:</div>
      <div class="col-md-10">
        <div>{{sale.product}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" style="font-weight:bold">Unit Price:</div>
      <div class="col-md-10">
        <div>{{sale.unitPrice}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" style="font-weight:bold">Quantity:</div>
      <div class="col-md-10">
        <div>{{sale.quantity}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" style="font-weight:bold">Total Price:</div>
      <div class="col-md-10">
        <div>{{sale.totalPrice}}</div>
      </div>
    </div>
  </div>
