<h2>Customers</h2>
<table class="table table-responsive">
  <table class='table' *ngIf='customers && customers.length'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let customer of customers'>
        <td>{{customer.id}}</td>
        <td>{{customer.name}}</td>
      </tr>
    </tbody>
  </table>
</table>
